<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

  <main class="container mt-2 text-center">
    <!-- Hero logo at top of main content -->
    <div class="hero">
      <img src="/Content/lostandfound.svg" alt="Lost & Found Hub logo" class="hero-logo" />
    </div>

    <h1>Lost and Found</h1>
    <p>Welcome to the Lost and Found hub!</p>
  </main>
  <!-- main content for displaying reports -->
   <main class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <h1>Reports</h1>
          <br>
          <a href="/reports/add" class="btn btn-primary" role="button">Add a Report
            <i class="fa-solid fa-plus"></i>
          </a>
          <table class ="table table-bordered table-striped table-hover">
            <!-- header row-->
              <tr class="d-flex">
                <th class="text-center col-1">Name</th>
                <th class="text-center col-4">Description</th>
                <th class="text-center col-1">Category</th>
                <th class="text-center col-2">Status</th>
                <th class="text-center col-2">Location</th>
                <th class="text-center col-2">Date</th>
              </tr>
              <!-- data rows-->
               <% for (let count=0; count < ReportList.length; count++) { %>
               <tr class="d-flex">
                <td class="text-center col-1"><%= ReportList[count].name %></td>
                <td class="text-center col-4"><%= ReportList[count].description %></td>
                <td class="text-center col-1"><%= ReportList[count].category %></td>
                <td class="text-center col-2"><%= ReportList[count].status %></td>
                <td class="text-center col-2"><%= ReportList[count].location %></td>
                <td class="text-center col-2"><%= ReportList[count].date %></td>
                <td class="text-center col-1">
                  <a href="/reports/edit/<%= ReportList[count]._id %>" 
                  class="btn btn-primary btn-sm">
                Edit</a></td>
                
                <td class="text-center col-1">
                <a href="/reports/delete/<%= ReportList[count]._id %>" 
                  class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
              <% } %>
          </table>

        </div>
        
   </main>
</body>
</html>